.filter {
  display: flex;
  margin: 0 0 20px;

  .filter_button_wrap {
    margin: 0 160px 0 0;

    .filter_button {
      color: #272B33;
      padding: 0 16px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.5px;
      text-transform: uppercase;
      height: 56px;
      min-width: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 0;
      border-radius: 4px;
    }
  }

  .filter_form_wrap {
    display: flex;
    align-items: center;

    .filter_form {

    }
  }

}
